p cnf 56 244
-1 -2 3 0
-4 -2 5 0
-1 -6 -2 0
-4 -7 -2 0
-1 -6 -8 0
-4 -7 -9 0
-1 -6 -10 0
-4 -7 -11 0
-12 3 0
-13 3 0
-14 5 0
-15 5 0
-12 6 0
-13 7 0
-14 6 0
-15 7 0
-12 16 0
-13 16 0
-14 17 0
-15 17 0
-12 8 0
-13 9 0
-14 8 0
-15 9 0
-1 -2 -18 19 12 0
-1 -2 -20 21 14 0
-4 -2 -18 22 13 0
-4 -2 -20 23 15 0
-19 6 0
-22 7 0
-21 6 0
-23 7 0
-19 3 0
-22 5 0
-21 3 0
-23 5 0
-19 -10 0
-22 -10 0
-21 -11 0
-23 -11 0
-24 -24 -6 6 3 0
-24 -25 -6 7 5 0
-25 -24 -7 6 3 0
-25 -25 -7 7 5 0
-24 -24 -6 6 19 12 0
-24 -25 -6 7 22 13 0
-25 -24 -7 6 21 14 0
-25 -25 -7 7 23 15 0
-3 -6 0
-3 -7 0
-5 -6 0
-5 -7 0
-6 -19 12 0
-6 -22 13 0
-7 -21 14 0
-7 -23 15 0
-3 -16 1 0
-5 -17 4 0
-26 -10 0
-27 -11 0
-26 -28 0
-27 -29 0
-28 -8 0
-29 -9 0
-3 16 30 31 32 33 0
-5 17 34 35 36 37 0
-33 -19 0
-33 -21 0
-37 -22 0
-37 -23 0
-3 -16 19 12 0
-3 -16 21 14 0
-5 -17 22 13 0
-5 -17 23 15 0
-38 39 40 0
-38 39 41 0
-12 -33 0
-13 -33 0
-14 -37 0
-15 -37 0
-12 10 42 0
-13 10 42 0
-14 11 43 0
-15 11 43 0
-12 8 0
-13 8 0
-14 9 0
-15 9 0
-6 19 12 0
-6 22 13 0
-7 21 14 0
-7 23 15 0
-3 33 19 0
-3 33 21 0
-5 37 22 0
-5 37 23 0
-1 18 0
-1 20 0
-4 18 0
-4 20 0
-18 1 0
-18 4 0
-20 1 0
-20 4 0
-6 8 26 44 0
-7 9 27 45 0
-8 -26 0
-9 -27 0
-16 -16 46 0
-17 -17 46 0
-44 24 0
-45 25 0
-3 16 0
-5 17 0
-19 0
-23 0
-12 0
-15 0
-19 -19 0
-22 -21 0
-21 -22 0
-23 -23 0
-12 -12 0
-13 -14 0
-14 -13 0
-15 -15 0
-19 47 -19 0
-19 48 -22 0
-22 49 -19 0
-22 50 -22 0
-21 47 -21 0
-21 48 -23 0
-23 49 -21 0
-23 50 -23 0
-12 47 -12 0
-12 48 -13 0
-13 49 -12 0
-13 50 -13 0
-14 47 -14 0
-14 48 -15 0
-15 49 -14 0
-15 50 -15 0
-12 -19 0
-12 -22 0
-13 -19 0
-13 -22 0
-14 -21 0
-14 -23 0
-15 -21 0
-15 -23 0
-8 -19 0
-8 -22 0
-9 -21 0
-9 -23 0
-26 -12 0
-26 -13 0
-27 -14 0
-27 -15 0
-44 -12 0
-44 -13 0
-45 -14 0
-45 -15 0
-26 -1 -18 51 19 0
-26 -4 -18 51 22 0
-27 -1 -20 51 21 0
-27 -4 -20 51 23 0
-26 -1 18 51 19 0
-26 -4 18 51 22 0
-27 -1 20 51 21 0
-27 -4 20 51 23 0
-26 1 -18 51 19 0
-26 4 -18 51 22 0
-27 1 -20 51 21 0
-27 4 -20 51 23 0
-44 -1 -18 51 19 0
-44 -4 -18 51 22 0
-45 -1 -20 51 21 0
-45 -4 -20 51 23 0
-44 -1 18 51 19 0
-44 -4 18 51 22 0
-45 -1 20 51 21 0
-45 -4 20 51 23 0
-44 1 -18 51 19 0
-44 4 -18 51 22 0
-45 1 -20 51 21 0
-45 4 -20 51 23 0
-24 -24 47 19 19 0
-24 -25 48 22 21 0
-25 -24 49 21 22 0
-25 -25 50 23 23 0
-24 -24 47 -3 -6 19 0
-24 -25 48 -3 -7 21 0
-25 -24 49 -5 -6 22 0
-25 -25 50 -5 -7 23 0
-19 -24 24 0
-22 -24 25 0
-21 -25 24 0
-23 -25 25 0
-1 3 0
-4 5 0
-16 3 0
-17 5 0
-19 6 0
-22 6 0
-21 7 0
-23 7 0
-19 3 0
-22 5 0
-21 3 0
-23 5 0
-26 6 0
-27 7 0
-12 6 0
-13 6 0
-14 7 0
-15 7 0
-12 3 0
-13 5 0
-14 3 0
-15 5 0
-52 6 0
-53 7 0
-18 6 0
-20 7 0
6 3 0
7 5 0
-6 -3 0
-7 -5 0
-26 54 -26 0
-27 54 -27 0
-52 55 -52 0
-53 55 -53 0
-1 56 -1 0
-4 56 -4 0
-1 47 -1 0
-1 48 -4 0
-4 49 -1 0
-4 50 -4 0
-18 56 -18 0
-20 56 -20 0
-18 47 -18 0
-18 48 -20 0
-20 49 -18 0
-20 50 -20 0
%
-tb(Course124,Person335,Spring_0304) -cl(Course124,Level_500)             pr(Person335)                       
-tb(Course124,Person46,Spring_0304)  -cl(Course124,Level_500)             pr(Person46)                        
-tb(Course124,Person335,Spring_0304) -st(Person335)                       -cl(Course124,Level_500)             
-tb(Course124,Person46,Spring_0304)  -st(Person46)                        -cl(Course124,Level_500)             
-tb(Course124,Person335,Spring_0304) -st(Person335)                       -ip(Person335,Pre_Quals)             
-tb(Course124,Person46,Spring_0304)  -st(Person46)                        -ip(Person46,Pre_Quals)              
-tb(Course124,Person335,Spring_0304) -st(Person335)                       -yp(Person335,Year_1)                
-tb(Course124,Person46,Spring_0304)  -st(Person46)                        -yp(Person46,Year_1)                 
-tab(Person335,Person335)            pr(Person335)                       
-tab(Person335,Person46)             pr(Person335)                       
-tab(Person46,Person335)             pr(Person46)                        
-tab(Person46,Person46)              pr(Person46)                        
-tab(Person335,Person335)            st(Person335)                       
-tab(Person335,Person46)             st(Person46)                        
-tab(Person46,Person335)             st(Person335)                       
-tab(Person46,Person46)              st(Person46)                        
-tab(Person335,Person335)            hp(Person335,Faculty)               
-tab(Person335,Person46)             hp(Person335,Faculty)               
-tab(Person46,Person335)             hp(Person46,Faculty)                
-tab(Person46,Person46)              hp(Person46,Faculty)                
-tab(Person335,Person335)            ip(Person335,Pre_Quals)             
-tab(Person335,Person46)             ip(Person46,Pre_Quals)              
-tab(Person46,Person335)             ip(Person335,Pre_Quals)             
-tab(Person46,Person46)              ip(Person46,Pre_Quals)              
-tb(Course124,Person335,Spring_0304) -cl(Course124,Level_500)             -ta(Course124,Person335,Spring_0304) ab(Person335,Person335)             tab(Person335,Person335)            
-tb(Course124,Person335,Spring_0304) -cl(Course124,Level_500)             -ta(Course124,Person46,Spring_0304)  ab(Person46,Person335)              tab(Person46,Person335)             
-tb(Course124,Person46,Spring_0304)  -cl(Course124,Level_500)             -ta(Course124,Person335,Spring_0304) ab(Person335,Person46)              tab(Person335,Person46)             
-tb(Course124,Person46,Spring_0304)  -cl(Course124,Level_500)             -ta(Course124,Person46,Spring_0304)  ab(Person46,Person46)               tab(Person46,Person46)              
-ab(Person335,Person335)             st(Person335)                       
-ab(Person335,Person46)              st(Person46)                        
-ab(Person46,Person335)              st(Person335)                       
-ab(Person46,Person46)               st(Person46)                        
-ab(Person335,Person335)             pr(Person335)                       
-ab(Person335,Person46)              pr(Person46)                        
-ab(Person46,Person335)              pr(Person335)                       
-ab(Person46,Person46)               pr(Person46)                        
-ab(Person335,Person335)             -yp(Person335,Year_1)                
-ab(Person335,Person46)              -yp(Person335,Year_1)                
-ab(Person46,Person335)              -yp(Person46,Year_1)                 
-ab(Person46,Person46)               -yp(Person46,Year_1)                 
-pu(Title130,Person335)              -pu(Title130,Person335)              -st(Person335)                       st(Person335)                       pr(Person335)                       
-pu(Title130,Person335)              -pu(Title130,Person46)               -st(Person335)                       st(Person46)                        pr(Person46)                        
-pu(Title130,Person46)               -pu(Title130,Person335)              -st(Person46)                        st(Person335)                       pr(Person335)                       
-pu(Title130,Person46)               -pu(Title130,Person46)               -st(Person46)                        st(Person46)                        pr(Person46)                        
-pu(Title130,Person335)              -pu(Title130,Person335)              -st(Person335)                       st(Person335)                       ab(Person335,Person335)             tab(Person335,Person335)            
-pu(Title130,Person335)              -pu(Title130,Person46)               -st(Person335)                       st(Person46)                        ab(Person335,Person46)              tab(Person335,Person46)             
-pu(Title130,Person46)               -pu(Title130,Person335)              -st(Person46)                        st(Person335)                       ab(Person46,Person335)              tab(Person46,Person335)             
-pu(Title130,Person46)               -pu(Title130,Person46)               -st(Person46)                        st(Person46)                        ab(Person46,Person46)               tab(Person46,Person46)              
-pr(Person335)                       -st(Person335)                       
-pr(Person335)                       -st(Person46)                        
-pr(Person46)                        -st(Person335)                       
-pr(Person46)                        -st(Person46)                        
-st(Person335)                       -ab(Person335,Person335)             tab(Person335,Person335)            
-st(Person335)                       -ab(Person335,Person46)              tab(Person335,Person46)             
-st(Person46)                        -ab(Person46,Person335)              tab(Person46,Person335)             
-st(Person46)                        -ab(Person46,Person46)               tab(Person46,Person46)              
-pr(Person335)                       -hp(Person335,Faculty)               tb(Course124,Person335,Spring_0304) 
-pr(Person46)                        -hp(Person46,Faculty)                tb(Course124,Person46,Spring_0304)  
-ip(Person335,Post_Quals)            -yp(Person335,Year_1)                
-ip(Person46,Post_Quals)             -yp(Person46,Year_1)                 
-ip(Person335,Post_Quals)            -ip(Person335,Post_generals)         
-ip(Person46,Post_Quals)             -ip(Person46,Post_generals)          
-ip(Person335,Post_generals)         -ip(Person335,Pre_Quals)             
-ip(Person46,Post_generals)          -ip(Person46,Pre_Quals)              
-pr(Person335)                       hp(Person335,Faculty)               hp(Person335,Faculty_affiliate)     hp(Person335,Faculty_adjunct)       hp(Person335,Faculty_emeritus)      hp(Person335,Faculty_visiting)      
-pr(Person46)                        hp(Person46,Faculty)                hp(Person46,Faculty_affiliate)      hp(Person46,Faculty_adjunct)        hp(Person46,Faculty_emeritus)       hp(Person46,Faculty_visiting)       
-hp(Person335,Faculty_visiting)      -ab(Person335,Person335)             
-hp(Person335,Faculty_visiting)      -ab(Person46,Person335)              
-hp(Person46,Faculty_visiting)       -ab(Person335,Person46)              
-hp(Person46,Faculty_visiting)       -ab(Person46,Person46)               
-pr(Person335)                       -hp(Person335,Faculty)               ab(Person335,Person335)             tab(Person335,Person335)            
-pr(Person335)                       -hp(Person335,Faculty)               ab(Person46,Person335)              tab(Person46,Person335)             
-pr(Person46)                        -hp(Person46,Faculty)                ab(Person335,Person46)              tab(Person335,Person46)             
-pr(Person46)                        -hp(Person46,Faculty)                ab(Person46,Person46)               tab(Person46,Person46)              
-st(Course124)                       yp(Course124,Year_1)                ta(Person335,Course124,Spring_0304) 
-st(Course124)                       yp(Course124,Year_1)                ta(Person46,Course124,Spring_0304)  
-tab(Person335,Person335)            -hp(Person335,Faculty_visiting)      
-tab(Person335,Person46)             -hp(Person335,Faculty_visiting)      
-tab(Person46,Person335)             -hp(Person46,Faculty_visiting)       
-tab(Person46,Person46)              -hp(Person46,Faculty_visiting)       
-tab(Person335,Person335)            yp(Person335,Year_1)                yp(Person335,Year_2)                
-tab(Person335,Person46)             yp(Person335,Year_1)                yp(Person335,Year_2)                
-tab(Person46,Person335)             yp(Person46,Year_1)                 yp(Person46,Year_2)                 
-tab(Person46,Person46)              yp(Person46,Year_1)                 yp(Person46,Year_2)                 
-tab(Person335,Person335)            ip(Person335,Pre_Quals)             
-tab(Person335,Person46)             ip(Person335,Pre_Quals)             
-tab(Person46,Person335)             ip(Person46,Pre_Quals)              
-tab(Person46,Person46)              ip(Person46,Pre_Quals)              
-st(Person335)                       ab(Person335,Person335)             tab(Person335,Person335)            
-st(Person335)                       ab(Person335,Person46)              tab(Person335,Person46)             
-st(Person46)                        ab(Person46,Person335)              tab(Person46,Person335)             
-st(Person46)                        ab(Person46,Person46)               tab(Person46,Person46)              
-pr(Person335)                       hp(Person335,Faculty_visiting)      ab(Person335,Person335)             
-pr(Person335)                       hp(Person335,Faculty_visiting)      ab(Person46,Person335)              
-pr(Person46)                        hp(Person46,Faculty_visiting)       ab(Person335,Person46)              
-pr(Person46)                        hp(Person46,Faculty_visiting)       ab(Person46,Person46)               
-tb(Course124,Person335,Spring_0304) ta(Course124,Person335,Spring_0304) 
-tb(Course124,Person335,Spring_0304) ta(Course124,Person46,Spring_0304)  
-tb(Course124,Person46,Spring_0304)  ta(Course124,Person335,Spring_0304) 
-tb(Course124,Person46,Spring_0304)  ta(Course124,Person46,Spring_0304)  
-ta(Course124,Person335,Spring_0304) tb(Course124,Person335,Spring_0304) 
-ta(Course124,Person335,Spring_0304) tb(Course124,Person46,Spring_0304)  
-ta(Course124,Person46,Spring_0304)  tb(Course124,Person335,Spring_0304) 
-ta(Course124,Person46,Spring_0304)  tb(Course124,Person46,Spring_0304)  
-st(Person335)                       ip(Person335,Pre_Quals)             ip(Person335,Post_Quals)            ip(Person335,Post_Generals)         
-st(Person46)                        ip(Person46,Pre_Quals)              ip(Person46,Post_Quals)             ip(Person46,Post_Generals)          
-ip(Person335,Pre_Quals)             -ip(Person335,Post_Quals)            
-ip(Person46,Pre_Quals)              -ip(Person46,Post_Quals)             
-hp(Person335,Faculty)               -hp(Person335,Faculty)               spo(Faculty,Faculty)                
-hp(Person46,Faculty)                -hp(Person46,Faculty)                spo(Faculty,Faculty)                
-ip(Person335,Post_Generals)         pu(Title130,Person335)              
-ip(Person46,Post_Generals)          pu(Title130,Person46)               
-pr(Person335)                       hp(Person335,Faculty)               
-pr(Person46)                        hp(Person46,Faculty)                
-ab(Person335,Person335)             
-ab(Person46,Person46)               
-tab(Person335,Person335)            
-tab(Person46,Person46)              
-ab(Person335,Person335)             -ab(Person335,Person335)             
-ab(Person335,Person46)              -ab(Person46,Person335)              
-ab(Person46,Person335)              -ab(Person335,Person46)              
-ab(Person46,Person46)               -ab(Person46,Person46)               
-tab(Person335,Person335)            -tab(Person335,Person335)            
-tab(Person335,Person46)             -tab(Person46,Person335)             
-tab(Person46,Person335)             -tab(Person335,Person46)             
-tab(Person46,Person46)              -tab(Person46,Person46)              
-ab(Person335,Person335)             spe(Person335,Person335)            -ab(Person335,Person335)             
-ab(Person335,Person335)             spe(Person335,Person46)             -ab(Person335,Person46)              
-ab(Person335,Person46)              spe(Person46,Person335)             -ab(Person335,Person335)             
-ab(Person335,Person46)              spe(Person46,Person46)              -ab(Person335,Person46)              
-ab(Person46,Person335)              spe(Person335,Person335)            -ab(Person46,Person335)              
-ab(Person46,Person335)              spe(Person335,Person46)             -ab(Person46,Person46)               
-ab(Person46,Person46)               spe(Person46,Person335)             -ab(Person46,Person335)              
-ab(Person46,Person46)               spe(Person46,Person46)              -ab(Person46,Person46)               
-tab(Person335,Person335)            spe(Person335,Person335)            -tab(Person335,Person335)            
-tab(Person335,Person335)            spe(Person335,Person46)             -tab(Person335,Person46)             
-tab(Person335,Person46)             spe(Person46,Person335)             -tab(Person335,Person335)            
-tab(Person335,Person46)             spe(Person46,Person46)              -tab(Person335,Person46)             
-tab(Person46,Person335)             spe(Person335,Person335)            -tab(Person46,Person335)             
-tab(Person46,Person335)             spe(Person335,Person46)             -tab(Person46,Person46)              
-tab(Person46,Person46)              spe(Person46,Person335)             -tab(Person46,Person335)             
-tab(Person46,Person46)              spe(Person46,Person46)              -tab(Person46,Person46)              
-tab(Person335,Person335)            -ab(Person335,Person335)             
-tab(Person335,Person335)            -ab(Person335,Person46)              
-tab(Person335,Person46)             -ab(Person335,Person335)             
-tab(Person335,Person46)             -ab(Person335,Person46)              
-tab(Person46,Person335)             -ab(Person46,Person335)              
-tab(Person46,Person335)             -ab(Person46,Person46)               
-tab(Person46,Person46)              -ab(Person46,Person335)              
-tab(Person46,Person46)              -ab(Person46,Person46)               
-ip(Person335,Pre_Quals)             -ab(Person335,Person335)             
-ip(Person335,Pre_Quals)             -ab(Person335,Person46)              
-ip(Person46,Pre_Quals)              -ab(Person46,Person335)              
-ip(Person46,Pre_Quals)              -ab(Person46,Person46)               
-ip(Person335,Post_Quals)            -tab(Person335,Person335)            
-ip(Person335,Post_Quals)            -tab(Person335,Person46)             
-ip(Person46,Post_Quals)             -tab(Person46,Person335)             
-ip(Person46,Post_Quals)             -tab(Person46,Person46)              
-ip(Person335,Post_Generals)         -tab(Person335,Person335)            
-ip(Person335,Post_Generals)         -tab(Person335,Person46)             
-ip(Person46,Post_Generals)          -tab(Person46,Person335)             
-ip(Person46,Post_Generals)          -tab(Person46,Person46)              
-ip(Person335,Post_Quals)            -tb(Course124,Person335,Spring_0304) -ta(Course124,Person335,Spring_0304) cl(Course124,Level_100)             ab(Person335,Person335)             
-ip(Person335,Post_Quals)            -tb(Course124,Person46,Spring_0304)  -ta(Course124,Person335,Spring_0304) cl(Course124,Level_100)             ab(Person335,Person46)              
-ip(Person46,Post_Quals)             -tb(Course124,Person335,Spring_0304) -ta(Course124,Person46,Spring_0304)  cl(Course124,Level_100)             ab(Person46,Person335)              
-ip(Person46,Post_Quals)             -tb(Course124,Person46,Spring_0304)  -ta(Course124,Person46,Spring_0304)  cl(Course124,Level_100)             ab(Person46,Person46)               
-ip(Person335,Post_Quals)            -tb(Course124,Person335,Spring_0304) ta(Course124,Person335,Spring_0304) cl(Course124,Level_100)             ab(Person335,Person335)             
-ip(Person335,Post_Quals)            -tb(Course124,Person46,Spring_0304)  ta(Course124,Person335,Spring_0304) cl(Course124,Level_100)             ab(Person335,Person46)              
-ip(Person46,Post_Quals)             -tb(Course124,Person335,Spring_0304) ta(Course124,Person46,Spring_0304)  cl(Course124,Level_100)             ab(Person46,Person335)              
-ip(Person46,Post_Quals)             -tb(Course124,Person46,Spring_0304)  ta(Course124,Person46,Spring_0304)  cl(Course124,Level_100)             ab(Person46,Person46)               
-ip(Person335,Post_Quals)            tb(Course124,Person335,Spring_0304) -ta(Course124,Person335,Spring_0304) cl(Course124,Level_100)             ab(Person335,Person335)             
-ip(Person335,Post_Quals)            tb(Course124,Person46,Spring_0304)  -ta(Course124,Person335,Spring_0304) cl(Course124,Level_100)             ab(Person335,Person46)              
-ip(Person46,Post_Quals)             tb(Course124,Person335,Spring_0304) -ta(Course124,Person46,Spring_0304)  cl(Course124,Level_100)             ab(Person46,Person335)              
-ip(Person46,Post_Quals)             tb(Course124,Person46,Spring_0304)  -ta(Course124,Person46,Spring_0304)  cl(Course124,Level_100)             ab(Person46,Person46)               
-ip(Person335,Post_Generals)         -tb(Course124,Person335,Spring_0304) -ta(Course124,Person335,Spring_0304) cl(Course124,Level_100)             ab(Person335,Person335)             
-ip(Person335,Post_Generals)         -tb(Course124,Person46,Spring_0304)  -ta(Course124,Person335,Spring_0304) cl(Course124,Level_100)             ab(Person335,Person46)              
-ip(Person46,Post_Generals)          -tb(Course124,Person335,Spring_0304) -ta(Course124,Person46,Spring_0304)  cl(Course124,Level_100)             ab(Person46,Person335)              
-ip(Person46,Post_Generals)          -tb(Course124,Person46,Spring_0304)  -ta(Course124,Person46,Spring_0304)  cl(Course124,Level_100)             ab(Person46,Person46)               
-ip(Person335,Post_Generals)         -tb(Course124,Person335,Spring_0304) ta(Course124,Person335,Spring_0304) cl(Course124,Level_100)             ab(Person335,Person335)             
-ip(Person335,Post_Generals)         -tb(Course124,Person46,Spring_0304)  ta(Course124,Person335,Spring_0304) cl(Course124,Level_100)             ab(Person335,Person46)              
-ip(Person46,Post_Generals)          -tb(Course124,Person335,Spring_0304) ta(Course124,Person46,Spring_0304)  cl(Course124,Level_100)             ab(Person46,Person335)              
-ip(Person46,Post_Generals)          -tb(Course124,Person46,Spring_0304)  ta(Course124,Person46,Spring_0304)  cl(Course124,Level_100)             ab(Person46,Person46)               
-ip(Person335,Post_Generals)         tb(Course124,Person335,Spring_0304) -ta(Course124,Person335,Spring_0304) cl(Course124,Level_100)             ab(Person335,Person335)             
-ip(Person335,Post_Generals)         tb(Course124,Person46,Spring_0304)  -ta(Course124,Person335,Spring_0304) cl(Course124,Level_100)             ab(Person335,Person46)              
-ip(Person46,Post_Generals)          tb(Course124,Person335,Spring_0304) -ta(Course124,Person46,Spring_0304)  cl(Course124,Level_100)             ab(Person46,Person335)              
-ip(Person46,Post_Generals)          tb(Course124,Person46,Spring_0304)  -ta(Course124,Person46,Spring_0304)  cl(Course124,Level_100)             ab(Person46,Person46)               
-pu(Title130,Person335)              -pu(Title130,Person335)              spe(Person335,Person335)            ab(Person335,Person335)             ab(Person335,Person335)             
-pu(Title130,Person335)              -pu(Title130,Person46)               spe(Person335,Person46)             ab(Person335,Person46)              ab(Person46,Person335)              
-pu(Title130,Person46)               -pu(Title130,Person335)              spe(Person46,Person335)             ab(Person46,Person335)              ab(Person335,Person46)              
-pu(Title130,Person46)               -pu(Title130,Person46)               spe(Person46,Person46)              ab(Person46,Person46)               ab(Person46,Person46)               
-pu(Title130,Person335)              -pu(Title130,Person335)              spe(Person335,Person335)            -pr(Person335)                       -st(Person335)                       ab(Person335,Person335)             
-pu(Title130,Person335)              -pu(Title130,Person46)               spe(Person335,Person46)             -pr(Person335)                       -st(Person46)                        ab(Person46,Person335)              
-pu(Title130,Person46)               -pu(Title130,Person335)              spe(Person46,Person335)             -pr(Person46)                        -st(Person335)                       ab(Person335,Person46)              
-pu(Title130,Person46)               -pu(Title130,Person46)               spe(Person46,Person46)              -pr(Person46)                        -st(Person46)                        ab(Person46,Person46)               
-ab(Person335,Person335)             -pu(Title130,Person335)              pu(Title130,Person335)              
-ab(Person335,Person46)              -pu(Title130,Person335)              pu(Title130,Person46)               
-ab(Person46,Person335)              -pu(Title130,Person46)               pu(Title130,Person335)              
-ab(Person46,Person46)               -pu(Title130,Person46)               pu(Title130,Person46)               
-tb(Course124,Person335,Spring_0304) pr(Person335)                       
-tb(Course124,Person46,Spring_0304)  pr(Person46)                        
-hp(Person335,Faculty)               pr(Person335)                       
-hp(Person46,Faculty)                pr(Person46)                        
-ab(Person335,Person335)             st(Person335)                       
-ab(Person335,Person46)              st(Person335)                       
-ab(Person46,Person335)              st(Person46)                        
-ab(Person46,Person46)               st(Person46)                        
-ab(Person335,Person335)             pr(Person335)                       
-ab(Person335,Person46)              pr(Person46)                        
-ab(Person46,Person335)              pr(Person335)                       
-ab(Person46,Person46)               pr(Person46)                        
-ip(Person335,Post_Quals)            st(Person335)                       
-ip(Person46,Post_Quals)             st(Person46)                        
-tab(Person335,Person335)            st(Person335)                       
-tab(Person335,Person46)             st(Person335)                       
-tab(Person46,Person335)             st(Person46)                        
-tab(Person46,Person46)              st(Person46)                        
-tab(Person335,Person335)            pr(Person335)                       
-tab(Person335,Person46)             pr(Person46)                        
-tab(Person46,Person335)             pr(Person335)                       
-tab(Person46,Person46)              pr(Person46)                        
-yp(Person335,Year_3)                st(Person335)                       
-yp(Person46,Year_3)                 st(Person46)                        
-ta(Course124,Person335,Spring_0304) st(Person335)                       
-ta(Course124,Person46,Spring_0304)  st(Person46)                        
st(Person335)                       pr(Person335)                       
st(Person46)                        pr(Person46)                        
-st(Person335)                       -pr(Person335)                       
-st(Person46)                        -pr(Person46)                        
-ip(Person335,Post_Quals)            sph(Post_Quals,Post_Quals)          -ip(Person335,Post_Quals)            
-ip(Person46,Post_Quals)             sph(Post_Quals,Post_Quals)          -ip(Person46,Post_Quals)             
-yp(Person335,Year_3)                si(Year_3,Year_3)                   -yp(Person335,Year_3)                
-yp(Person46,Year_3)                 si(Year_3,Year_3)                   -yp(Person46,Year_3)                 
-tb(Course124,Person335,Spring_0304) sc(Course124,Course124)             -tb(Course124,Person335,Spring_0304) 
-tb(Course124,Person46,Spring_0304)  sc(Course124,Course124)             -tb(Course124,Person46,Spring_0304)  
-tb(Course124,Person335,Spring_0304) spe(Person335,Person335)            -tb(Course124,Person335,Spring_0304) 
-tb(Course124,Person335,Spring_0304) spe(Person335,Person46)             -tb(Course124,Person46,Spring_0304)  
-tb(Course124,Person46,Spring_0304)  spe(Person46,Person335)             -tb(Course124,Person335,Spring_0304) 
-tb(Course124,Person46,Spring_0304)  spe(Person46,Person46)              -tb(Course124,Person46,Spring_0304)  
-ta(Course124,Person335,Spring_0304) sc(Course124,Course124)             -ta(Course124,Person335,Spring_0304) 
-ta(Course124,Person46,Spring_0304)  sc(Course124,Course124)             -ta(Course124,Person46,Spring_0304)  
-ta(Course124,Person335,Spring_0304) spe(Person335,Person335)            -ta(Course124,Person335,Spring_0304) 
-ta(Course124,Person335,Spring_0304) spe(Person335,Person46)             -ta(Course124,Person46,Spring_0304)  
-ta(Course124,Person46,Spring_0304)  spe(Person46,Person335)             -ta(Course124,Person335,Spring_0304) 
-ta(Course124,Person46,Spring_0304)  spe(Person46,Person46)              -ta(Course124,Person46,Spring_0304)  
